@using FinalWorkDentistry.BlazorComponents;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- КОМПОНЕНТ -->


<body>
    <div>

        @(await Html
            .RenderComponentAsync<AppleMainComponent>(RenderMode.ServerPrerendered))

       
        <h2 class="map_logo">Как нас найти</h2>
        <div class="map" id="map"> </div>
    </div>

   
</body>

<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?key=AqVASWzlteewt_sjZ4-J1k5kPuSF5wBb6-I1IHAHjjFYxGab8uAEnDEGDGQCNCmO"></script>

<script type="text/javascript">
    function initMap() {
        if (typeof Microsoft !== 'undefined' && typeof Microsoft.Maps !== 'undefined') {
            var map;
            var center = new Microsoft.Maps.Location(55.174773, 61.393640);
            var mapOptions = {
                center: center,
                zoom: 17
            };
            map = new Microsoft.Maps.Map(document.getElementById('map'), mapOptions);

            var pinLocation = new Microsoft.Maps.Location(55.174773, 61.393640);
            var pin = new Microsoft.Maps.Pushpin(pinLocation, {
                title: 'Братьев Кашириных 28',
                color: 'red'
            });
            map.entities.push(pin);
        } else {
            console.error('API карт Bing не доступно');
        }
    }

    var bingMapsScript = document.createElement('script');
    bingMapsScript.type = 'text/javascript';
    bingMapsScript.src = 'https://www.bing.com/api/maps/mapcontrol?callback=initMap&key=AqVASWzlteewt_sjZ4-J1k5kPuSF5wBb6-I1IHAHjjFYxGab8uAEnDEGDGQCNCmO';
    document.body.appendChild(bingMapsScript);
</script>

