@using FinalWorkDentistry.UsersRoles;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <base href="~/">

   

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Жемчужина</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
     <link type="text/css"  rel="stylesheet" href="~/css/style.css"/>

     <link href="_content/Smart.Blazor/css/smart.default.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


   @* <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>*@
</head>
<body>
    <header>
       @* <div class="wrapper">
            <div class="container">*@
                <h4 style="padding: 20px 15px 15px 75px">
            <span class="material-symbols-outlined">
                dentistry
            </span>Жемчужина
                </h4>

              @*  <p class="navbar-brand header" >ул. Братьев Кашириных, д. 28</p>
        <p class="header">info@yandex.ru</p>*@

               @*<a href="tel: +7(908)0546782" class="navbar-brand header" >+7(908)0546782</a>*@
       @*     </div>
        </div>*@

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3 " >
            <div class="container">

                <a class="navbar-brand" asp-controller="Blazor" asp-action="IndexMain">Главная</a>
                <a class="navbar-brand" asp-controller="Blazor" asp-action="Index">Услуги</a>
                <a class="navbar-brand" asp-controller="Blazor" asp-action="IndexDoctor">Специалисты</a>

              @*  Услуги по старой версии MVC - не блейзор*@
               @* <a class="navbar-brand" asp-controller="Service" asp-action="ListView" style="color:whitesmoke">Услуги</a>*@
                @* врачи по старой версии MVC - не блейзор*@
                @*  <a class="navbar-brand"  asp-controller="Doctor" asp-action="ListView" style="color:whitesmoke">Врачи</a>*@
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Отзывы</a>
                <a  class="navbar-brand"  asp-controller="GoogleMap" asp-action="Index">Наше местоположение</a>
               
              @*  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
               
              @*  <a class="navbar-brand" asp-controller="Service" asp-action="ListView">Услуги</a>
                <a class="navbar-brand" asp-controller="Doctor" asp-action="ListView">Врачи</a>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" >Отзывы</a>
                <a class="navbar-brand" asp-controller="GoogleMap" asp-action="Index">Наше местоположение</a>*@

                

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1" >
                       @if (User.IsInRole(AppRoles.Administrator))
                        {

                            <li class="nav-item" >
                                <a  font-size: 18px" class=""
                               asp-controller="Admin"
                               asp-action="Index" >
                                    Управление системой
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(AppRoles.ContentManager))
                        {
                           @* <li class="nav-item">
                                <a class=""
                               asp-controller="ContentManager"
                               asp-action="Index">
                                    Управление контентом
                                </a>
                            </li>*@
                        }
                       
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    </ul>
                </div>
               @* <div class="float-right">
                    @await Component.InvokeAsync("Reviews")
                </div>*@
                <div class="float-right" @*style="height: 5px; width: 5px"*@>
                    @await Component.InvokeAsync("Cart")
                </div>
            </div>
        </nav>
    </header>
    <div class="container row">
      @*  <div class="col-2">
            <!--
            <vc:menuCategories></vc:menuCategories>
            -->
            @await Component.InvokeAsync("MenuCategories") 
        </div>*@
        <main  role="main" class="pb-3 col-12">
            @RenderBody()
        </main>
    </div>

  

    @*<footer class="border-top footer text-muted">
        <div class="container" >
            &copy; 2022 - Жемчужина 
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorStrap/blazorStrap.js"></script>
    <script src="_content/BlazorStrap/popper.min.js"></script>
    <script src = "_content/Smart.Blazor/js/smart.blazor.js"></script> 
    <script src = "_content/Smart.Blazor/js/smart.elements.js"></script> 


    <script src="~/js/site.js" asp-append-version="true"></script>
   
    @* <script src="~/lib/microsoft-signalr/signalr.min.js"></script>*@
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
