@using FinalWorkDentistry.Models;
@using FinalWorkDentistry.Domains;
@using FinalWorkDentistry.BlazorComponents;
@* @using Syncfusion.Blazor.Navigations *@
@using System.Threading;

<head>
    <script src="https://unpkg.com/imask"></script>
</head>


<div class="wrappermain" style="min-width:100%; margin:0 auto; margin-bottom: 200px;">

   



    
 <Carousel DataSource="items"
          HideArrows HideIndicators SlideShow AutoPlay Loop Interval="2000"
          style="width:100%; height:500px; margin: 0 auto; margin-bottom:20px; margin-top: 25px">
</Carousel>
 

 

     <div class="container-with-Zub">
         <div class="left-content">
             <!-- Текст слева -->
             <h2 style="font-size: 34px">О клинике</h2>
             <p style="font-size: 20px">
                 Клиника образована в 1995 г. С этого времени она является одной из самых уникальных и технологичных клиник в нашей стране. Мы имеем 23 летний опыт разработки и внедрения принципиально новых методов лазерной диагностики, лечения и профилактики заболеваний полости рта.

                 Наши стоматологи признаны профессионалами нашей и зарубежных стран. Наши врачи высшей категории, имеющие научные степени.

                 Глав. врач нашей клиники Рисованная Ольга Николаевна — доктор медицинских наук, профессор кафедры стоматологии факультета повышения квалификации и профессиональной переподготовки специалистов Кубанского государственного медицинского университета, индивидуальный член Международной ассоциации лазерной стоматологии.
             </p>
         </div>
         <div class="right-content">
             <!-- Изображение справа -->
            <img src="/images/ZubDesc.png" width="265" />
         </div>
     </div>


 

     
    <div class="card-container" style="font-weight: bold;">
        <h2 style="text-align: center; font-size: 40px; padding-bottom:50px; width: 100%;">Популярные услуги</h2>

        <div class="card" style=" background-image: url('/images/анестезия.png'); background-size: cover;">
            <div style="flex-grow: 1;">
                <p class="card-logo">Анестезия</p>
                <div class="card-body">
                    <p class="card-text">Безопасная и комфортная процедура</p>
                </div>
            </div>
        </div>

        <div class="card" style="background-image: url('/images/пульпит.png'); background-size: cover; ">
            <div style="flex-grow: 1;">
                <p class="card-logo">Лечение пульпита</p>
                <div class="card-body" >
                    <p class="card-text">Избавление от воспаления пульпы зуба</p>
                </div>
            </div>
        </div>

        <div class="card" style="background-image: url('/images/чистка.png'); background-size: cover;">
            <div style="flex-grow: 1;">
                <p class="card-logo">Ультразвуковая чистка</p>
                <div class="card-body">
                    <p class="card-text">Удаление зубного налета и зубного камня с помощью ультразвукового аппарата</p>
                </div>
            </div>
        </div>

        <div class="card" style="background-image: url('/images/удаление.png'); background-size: cover; ">
            <div style="flex-grow: 1;">
                <p class="card-logo">Удаление</p>
                <div class="card-body">
                    <p class="card-text">Удаление зуба из полости рта</p>
                </div>
            </div>
        </div>

        <div class="card" style="background-image: url('/images/томография.png'); background-size: cover">
            <div style="flex-grow: 1;">
                <p class="card-logo">Компьютерная томография</p>
                <div class="card-body">
                    <p class="card-text">Снимки внутренних структур челюстно-лицевой области</p>
                </div>
            </div>
        </div> 

        <div class="card" style="background-image: url('/images/пломба.png'); background-size: cover;">
            <div style="flex-grow: 1;">
                <p class="card-logo">Пломба</p>
                <div class="card-body"
                    <p class="card-text" >Восстановление поврежденного зуба путем заполнения полости пломбировочным материалом</p>
                </div>
            </div>
        </div>
    </div>


    <h2 style="text-align: center; font-size: 30px; padding-bottom:50px; width: 100%;">Посмотрите видео и больше узнайте о нашей клинике</h2>

    <div id="video-container">
        <video id="fullscreen-video" controls >
            <source src="/images/Стоматология.mp4" type="video/mp4">
            Ваш браузер не поддерживает тег video.
        </video>
    </div>


  

 <BlazorMessageComponent
    ParentComponent="this"/>  


</div>




@code {
    dynamic[] items = new dynamic[]{
   
      new {label="", content="",
      image="/images/deti.png"},
      new {label="", content="",
      image="/images/last.png"},
   
        new {label="", content="",
      image="/images/1s.png"},
    
      new {label="", content="",
      image="/images/womantext.png"},
     
  };



  //   dynamic[] items = new dynamic[]{
  //     new {label="First Label", content="Additional Information", image="/images/deti.png"},
  //     new {label="Second Label", content="Additional Information", image="/images/last.png"},
  //     new {label="Third Label", content="Additional Information", image="/images/1s.png"},
  //     new {label="Forth Label", content="Additional Information", image="/images/womantext.png"},
  // };
}
